{% extends "catalog/base.html" %}
{% load i18n %}
{% block content %}

    <div class="min-h-screen flex items-center justify-center bg-base-200">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body text-center">
                <h1 class="card-title text-2xl font-bold">{% trans "Password Changed" %}</h1>
                <p class="text-gray-600">{% trans 'Your password has been successfully changed. You can now log in with your new password.' %}</p>

                <div class="mt-4">
                    <a href="{% url 'account_login' %}" class="btn btn-primary w-full">{% trans "Back to Login" %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}