<tr id="{{ model }}-{{ object.id }}-item">
    <td id="{{ model }}-{{ disease.id }}" class="underline">
        <a href="#"
           hx-get="{% url "catalog:medicine_list" %}?{{ model }}={{ disease.id }}"
           hx-target="#main-container"
           hx-swap="innerHTML"
           hx-push-url="true">
            {{ disease.name }}
        </a>
    </td>
    <td>
        <i class="fa fa-edit text-primary cursor-pointer"
                {% if model == "disease" %}
           hx-get="{% url 'catalog:disease_edit' disease.id %}"
                {% endif %}
           hx-target="#disease-{{ disease.id }}"
           hx-swap="innerHTML"></i>
        <i class="ml-3 fa fa-trash text-warning" data-{{ model }}-name="{{ disease.name }}"
           data-{{ model }}-id="{{ disease.id }}" onclick="{{ delete_func }}"></i>
    </td>
</tr>