<div id="main-container">
    <button class="btn btn-secondary mb-4" hx-get="{% url "catalog:medicine_list" %}" hx-target="#main-container" hx-swap="innerHTML" hx-push-url="true">
        <i class="fa fa-arrow-left"></i>
    </button>
    <button class="btn btn-primary mb-4" hx-get="{% url 'catalog:medicine_update' medicine.id %}" hx-target="#main-container" hx-swap="innerHTML" hx-push-url="true"><i class="fas fa-edit"></i></button>
    
    <button class="btn btn-danger mt-4" onclick="delete_modal.showModal()"><i class="fas fa-trash"></i></button>
    <dialog id="delete_modal" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Confirm Deletion</h3>
            <p class="py-4">Are you sure you want to delete {{ medicine.name }}? This action cannot be undone.</p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-secondary mr-2">Cancel</button>
                </form>
                <button class="btn btn-danger" hx-delete="{% url 'catalog:medicine_delete' medicine.id %}" hx-target="#main-container" hx-swap="innerHTML">Delete</button>
            </div>
        </div>
    </dialog>

    <h1 class="text-3xl font-bold">{{ medicine.name }}</h1>
    <p>{{ medicine.description }}</p>

    <h2 class="text-2xl mt-4">Diseases</h2>
    <ul>
        {% for disease in medicine.diseases.all %}
            <li>{{ disease.name }}</li>
        {% endfor %}
    </ul>

    <h2 class="text-2xl mt-4">Medication Types</h2>
    <ul>
        {% for type in medicine.medication_types.all %}
            <li>{{ type.name }}</li>
        {% endfor %}
    </ul>

    <h2 class="text-2xl mt-4">Body Organs</h2>
    <ul>
        {% for organ in medicine.body_organs.all %}
            <li>{{ organ.name }}</li>
        {% endfor %}
    </ul>

    <h2 class="text-2xl mt-4">Products</h2>
    <ul>
        {% for product in medicine.medicine_products.all %}
            <li>
                <strong>{{ product.name }}</strong> - {{ product.get_buy_place_display }}
                {% if product.product_url %}
                    - <a href="{{ product.product_url }}" target="_blank">Buy Here</a>
                {% endif %}
                - Price: {{ product.price }}$
                - Method of Administration: {{ product.method_of_administration }}
                - Form: {{ product.presenting_form.name }}
            </li>
        {% endfor %}
    </ul>
</div>
