{% block title %}Medication Type List{% endblock title %}

<div class="absolute top-4 right-4">
        <span class="btn btn-primary flex items-center rounded-full" onclick="medication_type_create.showModal()"
              hx-get="{% url 'catalog:medication_type_list_create' %}" hx-target="#ModalContent">
            <i class="fas fa-plus"></i>
        </span>
</div>
{#TODO: add medication type modal#}
<div class="items-start">
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody id="medicationTypesTableBody">
            {% for medication_type in medication_types %}
                {% include "catalog/partials/table_item.html" with model="medication-type" object=medication_type delete_func="showMedicationTypeDeleteModal(this)"%}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Pagination -->
<div class="flex justify-center mt-4">
    <div class="join">
        {% if diseases.has_previous %}
            <a class="join-item btn" href="?page=1" hx-get="?page=1" hx-target="#main-container">&laquo; first</a>
            <a class="join-item btn" href="?page={{ medication_types.previous_page_number }}" hx-get="?page={{ medication_types.previous_page_number }}" hx-target="#main-container">previous</a>
        {% endif %}

        <span class="join-item btn btn-active">
            Page {{ medication_types.number }} of {{ medication_types.paginator.num_pages }}
        </span>

        {% if medication_types.has_next %}
            <a class="join-item btn" href="?page={{ medication_types.next_page_number }}" hx-get="?page={{ medication_types.next_page_number }}" hx-target="#main-container">next</a>
            <a class="join-item btn" href="?page={{ medication_types.paginator.num_pages }}" hx-get="?page={{ medication_types.paginator.num_pages }}" hx-target="#main-container">last &raquo;</a>
        {% endif %}
    </div>
</div>

{# modals #}
<dialog id="medication_type_delete_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Confirm Deletion</h3>
        <p id="delete_modal_message" class="py-4">
            Are you sure you want to delete this medication type? This action cannot be undone.
        </p>
        <div class="modal-action">
            <form method="dialog">
                <button class="btn btn-secondary mr-2">Cancel</button>
            </form>
            <button class="btn btn-danger" id="confirm_delete_button"
                    hx-target="#main-container" hx-swap="innerHTML">Delete
            </button>
        </div>
    </div>
</dialog>

<dialog id="medication_type_create" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div id="ModalContent"></div>
    </div>
</dialog>