<div id="main-container" class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center mb-6">
        <button class="btn btn-ghost" hx-get="{% url "catalog:medicine_list" %}" hx-target="#main-container"
                hx-swap="innerHTML" hx-push-url="true">
            <i class="fa fa-arrow-left mr-2"></i> Back
        </button>
        <div>
            <button class="btn btn-primary mr-2" hx-get="{% url 'catalog:medicine_update' medicine.id %}"
                    hx-target="#main-container" hx-swap="innerHTML" hx-push-url="true">
                <i class="fas fa-edit mr-2"></i> Edit
            </button>
            <button class="btn btn-error" onclick="delete_modal.showModal()">
                <i class="fas fa-trash mr-2"></i> Delete
            </button>
        </div>
    </div>

    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h1 class="card-title text-3xl mb-4">{{ medicine.name }}</h1>
            <p class="text-lg mb-6">{{ medicine.description }}</p>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                    <h2 class="text-2xl font-semibold mb-3">Diseases</h2>
                    <ul class="list-disc list-inside">
                        {% for disease in medicine.diseases.all %}
                            <li class="mb-1">{{ disease.name }}</li>
                        {% empty %}
                            <li class="text-gray-500">No diseases listed</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-3">Medication Types</h2>
                    <ul class="list-disc list-inside">
                        {% for type in medicine.medication_types.all %}
                            <li class="mb-1">{{ type.name }}</li>
                        {% empty %}
                            <li class="text-gray-500">No medication types listed</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-3">Organs</h2>
                    <ul class="list-disc list-inside">
                        {% for organ in medicine.organs.all %}
                            <li class="mb-1">{{ organ.name }}</li>
                        {% empty %}
                            <li class="text-gray-500">No organs listed</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Medicine Products Card -->
    <div class="card bg-base-100 shadow-xl mt-6">
        <div class="card-body">
            <div class="flex justify-between items-center mb-4">
                <h2 class="card-title text-2xl font-semibold">Medicine Products</h2>
                <button class="btn btn-success" hx-get="#"
                        hx-target="#main-container" hx-swap="innerHTML" hx-push-url="true">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in medicine.medicine_products.all %}
                        <tr id="medicine-product-{{ product.pk }}">
                            <td>
                                {% if product.product_url %}
                                    <a href="{{ product.product_url }}" class="underline">{{ product.name }}</a>
                                {% else %}
                                    {{ product.name }}
                                {% endif %}
                            </td>
                            <td>{% if product.price %}{{ product.price }}{% else %}&nbsp;{% endif %}</td>
                            <td>
                                {#                                <button class="btn btn-primary btn-sm" hx-get="#"#}
                                {#                                        hx-target="#medicine-product-{{ product.pk }}" hx-swap="innerHTML" hx-push-url="true">#}
                                {#                                    <i class="fas fa-edit"></i>#}
                                {#                                </button>#}
                                <button class="btn btn-error btn-sm" data-medicine-product-name="{{ product.name }}"
                                        data-medicine-product-pk="{{ product.pk }}"
                                        onclick="showMedicineProductDeleteModal(this)"
                                >
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-gray-500">No products listed</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>
<dialog id="delete_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Confirm Deletion</h3>
        <p class="py-4">Are you sure you want to delete {{ medicine.name }}? This action cannot be undone.</p>
        <div class="modal-action">
            <form method="dialog">
                <button class="btn btn-ghost mr-2">Cancel</button>
            </form>
            <button class="btn btn-error" hx-delete="{% url 'catalog:medicine_delete' medicine.id %}"
                    hx-target="#main-container" hx-swap="innerHTML">Delete
            </button>
        </div>
    </div>
</dialog>
<dialog id="medicine_product_delete_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Confirm Deletion</h3>
        <p id="delete_modal_message" class="py-4">Are you sure you want to delete this organ? This action cannot be
            undone.</p>
        <div class="modal-action">
            <form method="dialog">
                <button class="btn btn-secondary mr-2">Cancel</button>
            </form>
            <button class="btn btn-danger" id="confirm_medicine_product_delete_button"
                    hx-target="#main-container" hx-swap="innerHTML">Delete
            </button>
        </div>
    </div>
</dialog>
