<div class="flex justify-center mt-4">
    <div class="join">
        {% if page_obj.has_previous %}
            <a class="join-item btn" href="?page=1" hx-get="?page=1" hx-target="#main-container">&laquo; first</a>
            <a class="join-item btn" href="?page={{ page_obj.previous_page_number }}" hx-get="?page={{ page_obj.previous_page_number }}" hx-target="#main-container">previous</a>
        {% endif %}

        <span class="{% if page_obj.has_previous or page_obj.has_next %}join-item{% endif %} btn btn-active">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="join-item btn" href="?page={{ page_obj.next_page_number }}" hx-get="?page={{ page_obj.next_page_number }}" hx-target="#main-container">next</a>
            <a class="join-item btn" href="?page={{ page_obj.paginator.num_pages }}" hx-get="?page={{ page_obj.paginator.num_pages }}" hx-target="#main-container">last &raquo;</a>
        {% endif %}
    </div>
</div>
