{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="retro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CatMed{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.9/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock js %}


</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content">
        <div class="mt-4">
            <div class="flex flex-col mx-10 md:mx-20">
                <div class="flex flex-col items-center">
                    <h1 class="prose-2xl mb-4 select-none" hx-get="{% url "catalog:medicine_list" %}"
                        hx-target="#main-container" hx-swap="innerHTML" hx-push-url="true">CatMed</h1>
                </div>
                <div id="main-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
            Open drawer
        </label>
    </div>
    <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
            <!-- Sidebar content here -->
            <li><a id="disease-sidebar-item" class="" hx-get="{% url "catalog:disease_list" %}" hx-target="#main-container" hx-swap="innerHTML"
                   hx-push-url="true">Diseases</a></li>
            {#                        <li><a>Sidebar Item 2</a></li>#}
        </ul>
    </div>
</div>

</body>
</html>
