{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="retro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CatMed{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.9/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/364b1b1644.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content min-h-screen flex flex-col">
        <div class="mt-4 flex-grow">
            <div class="flex flex-col mx-10 md:mx-20">
                <div class="absolute top-4 left-4">
                    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
                        <i class="fas fa-bars"></i>
                    </label>
                </div>
                <div class="flex flex-col items-center">
                    <h1 class="prose-2xl mb-4 select-none" hx-get="{% url "catalog:medicine_list" %}"
                        hx-target="#main-container" hx-swap="innerHTML" hx-push-url="true">CatMed</h1>
                </div>
                <div id="main-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- Footer moved to the bottom using flex layout -->
        {#        <footer class="footer bg-base-200 text-base-content p-10">#}
        {#            <aside>#}
        {#                <svg#}
        {#                        width="50"#}
        {#                        height="50"#}
        {#                        viewBox="0 0 24 24"#}
        {#                        xmlns="http://www.w3.org/2000/svg"#}
        {#                        fill-rule="evenodd"#}
        {#                        clip-rule="evenodd"#}
        {#                        class="fill-current">#}
        {#                    <path#}
        {#                            d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path>#}
        {#                </svg>#}
        {#                <p>#}
        {#                    ACME Industries Ltd.#}
        {#                    <br/>#}
        {#                    Providing reliable tech since 1992#}
        {#                </p>#}
        {#            </aside>#}
        {#            <nav>#}
        {#                <h6 class="footer-title">Services</h6>#}
        {#                <a class="link link-hover">Branding</a>#}
        {#                <a class="link link-hover">Design</a>#}
        {#                <a class="link link-hover">Marketing</a>#}
        {#                <a class="link link-hover">Advertisement</a>#}
        {#            </nav>#}
        {#            <nav>#}
        {#                <h6 class="footer-title">Company</h6>#}
        {#                <a class="link link-hover">About us</a>#}
        {#                <a class="link link-hover">Contact</a>#}
        {#                <a class="link link-hover">Jobs</a>#}
        {#                <a class="link link-hover">Press kit</a>#}
        {#            </nav>#}
        {#            <nav>#}
        {#                <h6 class="footer-title">Legal</h6>#}
        {#                <a class="link link-hover">Terms of use</a>#}
        {#                <a class="link link-hover">Privacy policy</a>#}
        {#                <a class="link link-hover">Cookie policy</a>#}
        {#            </nav>#}
        {#        </footer>#}
    </div>
    <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4 text-lg">
            <li>
                <a id="medicine-sidebar-item" hx-get="{% url "catalog:medicine_list" %}"
                   hx-target="#main-container" hx-swap="innerHTML"
                   hx-push-url="true" class="py-4">
                    <i class="fa-solid fa-prescription-bottle-medical fa-fw mr-2"></i> Medicines
                </a>
            <li>
                <a id="disease-sidebar-item" hx-get="{% url "catalog:disease_list" %}"
                   hx-target="#main-container" hx-swap="innerHTML"
                   hx-push-url="true" class="py-4">
                    <i class="fas fa-virus fa-fw mr-2"></i> Diseases
                </a>
            </li>
            <li>
                <a id="medication-type-sidebar-item" hx-get="{% url "catalog:medication_type_list" %}"
                   hx-target="#main-container" hx-swap="innerHTML"
                   hx-push-url="true" class="py-4">
                    <i class="fas fa-pills fa-fw mr-2"></i> Medication Types
                </a>
            </li>
            <li>
                <a id="organ-sidebar-item" hx-get="{% url "catalog:organ_list" %}"
                   hx-target="#main-container" hx-swap="innerHTML"
                   hx-push-url="true" class="py-4">
                    <i class="fas fa-lungs fa-fw mr-2"></i> Organs
                </a>
            </li>
        </ul>
    </div>
</div>
</body>


<footer>
    <script>
        
        !function (t, e) {
            var o, n, p, r;
            e.__SV || (window.posthog = e, e._i = [], e.init = function (i, s, a) {
                function g(t, e) {
                    var o = e.split(".");
                    2 == o.length && (t = t[o[0]], e = o[1]), t[e] = function () {
                        t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }

                (p = t.createElement("script")).type = "text/javascript", p.async = !0, p.src = s.api_host + "/static/array.js", (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(p, r);
                var u = e;
                for (void 0 !== a ? u = e[a] = [] : a = "posthog", u.people = u.people || [], u.toString = function (t) {
                    var e = "posthog";
                    return "posthog" !== a && (e += "." + a), t || (e += " (stub)"), e
                }, u.people.toString = function () {
                    return u.toString(1) + ".people (stub)"
                }, o = "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys getNextSurveyStep onSessionId".split(" "), n = 0; n < o.length; n++) g(u, o[n]);
                e._i.push([i, s, a])
            }, e.__SV = 1)
        }(document, window.posthog || []);
        posthog.init('{{ POSTHOG_API_KEY }}', {
            api_host: 'https://eu.i.posthog.com',
            person_profiles: 'identified_only'
        })
    </script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/disease_list.js' %}"></script>
    <script src="{% static "js/medicine_form.js" %}"></script>
    <script src="{% static "js/medication_type_list.js" %}"></script>
    <script src="{% static "js/organ_list.js" %}"></script>
</footer>
</html>