{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="retro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CatMed{% endblock title %}</title>
    <!-- form.media -->
    <link href="/static/admin/css/vendor/select2/select2.css" media="screen" rel="stylesheet" data-form-media>
    <link href="/static/admin/css/autocomplete.css" media="screen" rel="stylesheet" data-form-media>
    <script src="/static/admin/js/vendor/jquery/jquery.js" data-form-media></script>
    <script src="/static/admin/js/vendor/select2/select2.full.js" data-form-media></script>
    <script src="/static/admin/js/vendor/select2/i18n/en.js" data-form-media></script>
    <script src="/static/admin/js/jquery.init.js" data-form-media></script>
    <script src="/static/admin/js/autocomplete.js" data-form-media></script>
    <!-- end of form media -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.9/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/364b1b1644.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script>
        !function (t, e) {
            var o, n, p, r;
            e.__SV || (window.posthog = e, e._i = [], e.init = function (i, s, a) {
                function g(t, e) {
                    var o = e.split(".");
                    2 == o.length && (t = t[o[0]], e = o[1]), t[e] = function () {
                        t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }

                (p = t.createElement("script")).type = "text/javascript", p.crossOrigin = "anonymous", p.async = !0, p.src = s.api_host.replace(".i.posthog.com", "-assets.i.posthog.com") + "/static/array.js", (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(p, r);
                var u = e;
                for (void 0 !== a ? u = e[a] = [] : a = "posthog", u.people = u.people || [], u.toString = function (t) {
                    var e = "posthog";
                    return "posthog" !== a && (e += "." + a), t || (e += " (stub)"), e
                }, u.people.toString = function () {
                    return u.toString(1) + ".people (stub)"
                }, o = "init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey getNextSurveyStep identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug".split(" "), n = 0; n < o.length; n++) g(u, o[n]);
                e._i.push([i, s, a])
            }, e.__SV = 1)
        }(document, window.posthog || []);
        posthog.init('{{ POSTHOG_API_KEY }}', {
            api_host: 'https://posthehog.catmed.me', person_profiles: 'identified_only' // or 'always' to create profiles for anonymous users as well
        });
        document.addEventListener('htmx:afterSettle', function (event) {
            // Capture the current URL
            const newUrl = window.location.href;

            // Log the page view to PostHog
            posthog.capture('$pageview', {
                current_url: newUrl
            });

            // Alternatively, use this for default SPA pageview tracking
            // posthog.page();
        });
        window.isAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
        if (!window.isAuthenticated) {
            posthog.reset();
        }
    </script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div x-data="Alpine.store('toastManager', toastManager())" class="relative">
    <div class="toast toast-end toast-bottom toast-fade-out z-50">
        <template x-for="toast in Alpine.store('toastManager').toasts" :key="toast.id">
            <div
                    class="alert"
                    :class="{
                        'alert-info': toast.type === 'info',
                        'alert-success': toast.type === 'success',
                        'alert-warning': toast.type === 'warning',
                        'alert-error': toast.type === 'error'
                    }"
            >
                <template x-if="toast.icon">
                    <span x-html="toast.icon"></span>
                </template>
                <div>
                    <h3 class="font-bold" x-text="toast.title"></h3>
                    <div class="text-xs" x-text="toast.message"></div>
                </div>
                <button
                        class="btn btn-sm btn-ghost"
                        @click="Alpine.store('toastManager').removeToast(toast.id)"
                >
                    ✕
                </button>
            </div>
        </template>
    </div>
    <div class="drawer lg:drawer-open" x-data="{ isOpen: false }">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" x-model="isOpen"/>
        <div class="drawer-content min-h-screen flex flex-col">
            <div class="mt-4 flex-grow">
                <div class="flex flex-col md:mx-20">
                    <div class="absolute top-4 left-4">
                        <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
                            <i class="fas fa-bars"></i>
                        </label>
                    </div>
                    <div class="flex flex-col items-center">
                        <h1 class="prose-2xl mb-4 select-none" hx-get="{% url "catalog:medicine_list" %}"
                            hx-target="#main-container" hx-swap="innerHTML" hx-push-url="true">CatMed</h1>
                    </div>
                    <div class="absolute top-4 right-4 flex space-x-2">
                        {% if user.is_authenticated %}
                            <span class="btn btn-primary flex items-center rounded-full"
                                  hx-get="{% url 'catalog:medicine_create' %}"
                                  hx-target="#main-container" hx-swap="innerHTML" hx-push-url="true">
                            <i class="fas fa-plus"></i>
                        {% endif %}
                        </span>
                        {% include "catalog/components/account_actions.html" %}
                    </div>
                    <div id="main-container">
                        {% block content %}
                            This sentence will disappear.
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% include "catalog/components/sidebar.html" %}
    </div>
</body>


<footer>
    <script src="{% static 'js/base.js' %}"></script>
</footer>
</html>